.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.idea/**
src/extensions/**
.idea/
appdev/package-lock.json

appdev/settings\.json

